/* get rid of some default css */
body, ul, li, h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

body {
  background: white;
}

/* home page */
.deadlines {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* deadline details */

